#chaptersTekst{
    font-size: 2vw;
    color: black;
    grid-column: 1/2;
    margin: -2vh 0 -6vh 23vw ;
}

#dashboard{
    height: 100vh;
    background-color: white;
}

.chapterButtons{
    height: 7vh;
    width: 50vw;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 4vh;
    display: block;
    border: 2px solid black;
    padding: 2vh 10vw 8vh 10vw;
    border-radius: 1rem;
    margin: 5vh 2vw auto auto ;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}

.sideTextChapters{
    font-weight: 200;
    font-size: 3vh;
}

#chapterButtonsDiv{
    margin-top: 10vh;
}



.chapterButtons:hover{
    background-color: rgba(83, 85, 214, 0.088);
}

.chapterButtonsCollection{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3vw;
}

.score{
    border: 2px solid black;
    height: 7vh;
    padding: 2vh 1vw 8vh 1vw;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 2.2vh;
    margin: 5vh 0;
}

.scorePercentage{
    font-weight: 300;
}
