#welcomeText{
    width: 30vw;
    color: rgb(28, 45, 168);
    letter-spacing: .15vw;  
    font-weight: 300;
    font-size: 2vw;
    margin: -10vh 0 20vh -1vw ;
    border: 5px solid rgb(28, 45, 168);
    padding: 3vh 3vw 3vh 1vw;
}

#logoHI{
    margin: -20vh 0 20vh 0;
}

#loginPageBody{
    background-color: rgb(208, 217, 241);
}