<div *ngFor="let chapter of chapters" class="chapterButtonsCollection">
  <button (click)="navigateToChapter(chapter.id)" class="chapterButtons">
    Chapter {{ chapter.id }}
    <span class="sideTextChapters"> - {{ chapter.title }}</span>
  </button>
  <h3 class="score">
    Score
    <p
      *ngIf="isLoadedProgresses && hasProgress(chapter.id) == true"
      class="scorePercentage"
    >
      {{ findProgress(chapter.id) | number : "1.0-0" }}%
    </p>
    <p
      *ngIf="!isLoadedProgresses || hasProgress(chapter.id) == false"
      class="scorePercentage"
    >
      -
    </p>
  </h3>
</div>
