<div id="dashboard" class="grid" style="padding-top: 64px">
  <!-- Hier is 64px de hoogte van de app-navbar, pas deze waarde aan als dat nodig is -->
  <!-- Navbar -->
  <app-navbar class="fixed"></app-navbar>

  <!-- Chapters -->
  <div class="mx-auto">
    <div id="headTekst">
      <h1 id="chaptersTekst" class="font-bold">CHAPTERS</h1>
      <button id="helpButton">
        <img src="assets/icons/help-logo.png" alt="" />
        <span>Help</span>
      </button>
    </div>

    <div id="chapterButtonsDiv">
      <app-chapter-button></app-chapter-button>
    </div>
  </div>
</div>
