<div *ngFor="let question of questions; let i = index" class="custom-margin">
  <div *ngIf="i == currentQuestionIndex" style="margin: 10vh auto 50vh 23vw">
    <h2 class="text-2xl font-bold mb-2">Question {{ i + 1 }}.</h2>
    <h3 class="font-medium text-2xl mb-8">{{ question.text }}</h3>
    <label class="flex items-center text-xl mb-2">
      <input
        type="checkbox"
        class="rounded-full border-gray-300 h-5 w-5 mr-2"
        (change)="toggleAnswer(1, i)"
        [checked]="givenAnswersCheckboxes[i][0]"
      />
      {{ question.option1 }}
    </label>

    <label class="flex items-center text-xl mb-2">
      <input
        type="checkbox"
        class="rounded-full border-gray-300 h-5 w-5 mr-2"
        (change)="toggleAnswer(2, i)"
        [checked]="givenAnswersCheckboxes[i][1]"
      />
      {{ question.option2 }}
    </label>

    <label class="flex items-center text-xl mb-2">
      <input
        type="checkbox"
        class="rounded-full border-gray-300 h-5 w-5 mr-2"
        (change)="toggleAnswer(3, i)"
        [checked]="givenAnswersCheckboxes[i][2]"
      />
      {{ question.option3 }}
    </label>

    <label class="flex items-center text-xl mb-2">
      <input
        type="checkbox"
        class="rounded-full border-gray-300 h-5 w-5 mr-2"
        (change)="toggleAnswer(4, i)"
        [checked]="givenAnswersCheckboxes[i][3]"
      />
      {{ question.option4 }}
    </label>
    <div style="margin: 6vh auto auto 23vw">
      <div class="flex items-center">
        <button
          *ngIf="i !== 0 || (i !== 0 && questions.length - 1)"
          (click)="goToPreviousQuestion()"
          class="mr-4"
        >
          <img src="assets/icons/arrow-left.png" alt="" class="h-10" />
        </button>
        <button
          *ngIf="i !== questions.length - 1"
          (click)="goToNextQuestion()"
          class="mr-4"
        >
          <img src="assets/icons/arrow-right.png" alt="" class="h-10" />
        </button>
        <button
          *ngIf="i === questions.length - 1"
          class="ml-8 py-2 px-3 custom-style rounded-lg md:rounded-md"
          style="border: 3px solid #1e3050; color: #1e3050"
          (click)="saveAnswersInService(); navigateToResults()"
        >
          Results
        </button>
      </div>
    </div>
  </div>
</div>
